.header__container {
  position: fixed;
  background: white;
  box-shadow: 0px 0 6px rgb(0 0 0 / 15%);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin: 0;
  .header__flex {
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 0 4px 0 4px;
    .header__initials {
      flex: 1;
      align-self: end;
      &-img {
        height: 2.5rem;
        width: 3.5rem;
        cursor: pointer;
        @media screen and (min-width: 1200px) {
          height: 4rem;
          width: 4.5rem;
        }
      }
    }
  }
}
