.contact-form {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    padding-bottom: 2vh;
    .spinner {
      position: absolute;
      z-index: 1;
    }
    .low-opacity {
      opacity: 0.5;
    }
    fieldset {
      background-image: url('plant-anatomy-edit.jpg');
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      border: none;
      background-size: cover;
      border-radius: 10px;
      padding: 5%;
      input {
        border: none;
        border-bottom: groove;
        margin-bottom: 10px;
        font-family: 'Montserrat', regular;
        font-weight: bolder;
        letter-spacing: 0.1rem;
        color: black;
        background: white;
        padding: 8px;
        border-radius: 5px;
      }
      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: black;
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: black;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: black;
      }
      textarea {
        min-height: 200px;
        border: none;
        border-bottom: groove;
        font-family: 'Montserrat', regular;
        font-weight: bolder;
        letter-spacing: 0.1rem;
        color: black;
        background: white;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      .send-btn--none {
        opacity: 0;
      }
      .send-btn {
        border: none;
        background: none;
        font-family: 'Montserrat', regular;
        font-weight: bolder;
        letter-spacing: 0.1rem;
        font-size: 1.2rem;
        font-variant: all-small-caps;
        cursor: pointer;
        color: black;
        text-align: center;
        -webkit-text-stroke: thin;
        transition: all 0.2344s;
        &:focus {
          outline: 0;
        }
        span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
          top: -4px;
        }
        span:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: -4px;
          right: -20px;
          transition: 0.5s;
          font-size: larger;
        }
      }
      .send-btn:hover span {
        padding-right: 15px;
      }
      .send-btn:hover span:after {
        opacity: 1;
        right: 0;
      }
    }
  }
  .instagram-container {
    display: flex;
    justify-content: center;
    .instagram {
      width: 25px;
      height: 25px;
      object-fit: cover;
    }
  }
}
