.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  .spinner,
  .check {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    align-self: center;
  }
  .check {
    width: 5em;
    height: 5em;
    align-self: center;
  }
  .low-opacity {
    opacity: 0.5;
  }
  &-form {
    background-image: url('./cool-background.svg');
    background-position-x: center;
    border-radius: 1.2rem;
    margin: 2rem;
    box-shadow: 5px 10px 18px #888888;
    max-width: 70rem;
    width: 100%;
    form {
      width: 100%;
      fieldset {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem 0rem 2rem;
        margin: 2rem;
        input {
          width: 100%;
          border: none;
          border-bottom: groove;
          margin-bottom: 10px;
          letter-spacing: 0.1rem;
          font-size: medium;
          background: white;
          padding: 8px;
          border-radius: 5px;
          font-size: 1rem;
          @media screen and (min-width: 1200px) {
            font-size: 1.2rem;
          }
        }
        ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: black;
          opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: black;
        }

        ::-ms-input-placeholder {
          /* Microsoft Edge */
          color: black;
        }
        textarea {
          width: 100%;
          min-height: 200px;
          border: none;
          border-bottom: groove;
          letter-spacing: 0.1rem;
          font-size: medium;
          background: white;
          padding: 8px;
          border-radius: 5px;
          margin-bottom: 10px;
          font-size: 1rem;
          @media screen and (min-width: 1200px) {
            font-size: 1.2rem;
          }
        }
        .send-btn__container {
          text-align: center;
          padding-top: 1rem;
          .send-btn--none {
            opacity: 0;
          }
          .send-btn {
            background: white;
            padding: 2px 20px;
            border-radius: 8px;
            border: 2px solid;
            cursor: pointer;
            align-self: center;
            width: fit-content;
            &:focus {
              outline: 0;
            }
            span {
              cursor: pointer;
              display: inline-block;

              font-weight: bolder;
              letter-spacing: 0.1rem;
              font-size: 1.4rem;
              font-variant: all-small-caps;
            }
          }
        }
      }
    }
  }
}
