@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple');

.home-screen {
  .asheville-photo {
    /* fill background */
    min-height: 100%;
    min-width: 1024px;

    /* proportionate scaling */
    width: 100%;
    height: auto;

    /* positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  .title {
    position: absolute;
    color: black;
    font-family: 'Homemade Apple', regular;
    display: flex;
    text-align: center;
    margin-right: 15px;

    // fade in
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }

  @media only screen and (max-width: 405px) {
    .asheville-photo {
      left: -87%;
    }
    .title {
      margin-top: 30vh;
      margin-left: 47vw;
      font-size: 30px;
    }
  }
  @media only screen and (max-width: 420px) and (min-width: 406px) {
    .asheville-photo {
      left: -65%;
    }
    .title {
      margin-top: 30vh;
      margin-left: 30vw;
      font-size: 40px;
    }
  }
  @media only screen and (max-width: 450px) and (min-width: 421px) {
    .asheville-photo {
      left: -58%;
    }
    .title {
      margin-top: 30vh;
      margin-left: 30vw;
      font-size: 40px;
    }
  }
  @media only screen and (max-width: 500px) and (min-width: 451px) {
    .asheville-photo {
      left: -40%;
    }
    .title {
      margin-top: 30vh;
      margin-left: 48%;
      font-size: 42px;
    }
  }
  @media only screen and (max-width: 530px) and (min-width: 501px) {
    .asheville-photo {
      left: -30%;
    }
    .title {
      margin-top: 30vh;
      margin-left: 48%;
      font-size: 48px;
    }
  }
  @media only screen and (max-width: 630px) and (min-width: 531px) {
    .asheville-photo {
      left: -25%;
    }
    .title {
      margin-top: 30vh;
      margin-left: 48%;
      font-size: 48px;
    }
  }
  @media only screen and (max-width: 770px) and (min-width: 631px) {
    .asheville-photo {
      left: -10%;
    }
    .title {
      margin-top: 30vh;
      margin-left: 48%;
      font-size: 48px;
    }
  }
  @media only screen and (max-width: 815px) and (min-width: 771px) {
    .asheville-photo {
      left: -4%;
    }
    .title {
      margin-top: 30vh;
      margin-left: 48%;
      font-size: 48px;
    }
  }
  @media only screen and (min-width: 816px) {
    .title {
      margin-top: 30vh;
      margin-left: 48%;
      font-size: 48px;
    }
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
