.burger {
  position: absolute;
  top: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  z-index: 10;
  margin: 10px;
  right: 0.1rem;
  span {
    height: 0.18rem;
    background: black;
    border-radius: 4px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 2.5px;
  }
}

.close {
  position: absolute;
  top: 0.1rem;
  margin: 10px;
  right: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  padding: 0;
  z-index: 1;
  opacity: 1 !important;
  span {
    height: 0.18rem;
    background: black;
    border-radius: 4px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 2.5px;
  }
  span:nth-of-type(1) {
    transform: rotate(45deg);
  }
  span:nth-of-type(2) {
    display: none;
  }
  span:nth-of-type(3) {
    transform: rotate(-45deg);
    margin-top: 6px;
  }
}
