.burger,
.close {
  position: absolute;
  top: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 10;
  margin: 10px;
  padding: 0;
  right: 0.1rem;
  opacity: 1 !important;
  span {
    height: 4px;
    width: 100%;
    background: black;
    transition: all 0.3s ease-in-out;
    position: relative;
    transform-origin: 1px;
    border-radius: 9px;
  }
}

.close {
  span:nth-of-type(1) {
    transform: rotate(45deg);
  }
  span:nth-of-type(2) {
    display: none;
  }
  span:nth-of-type(3) {
    transform: rotate(-45deg);
    margin-top: 17px;
  }
}
