.home-screen {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .antwerp-photo {
    min-height: 100%;
    min-width: 990px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  .title {
    position: absolute;
    width: 100%;
    margin-top: 29vh;
    // fade in
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }

  @media only screen and (max-width: 337px) {
    .antwerp-photo {
      left: -140%;
    }
  }
  @media only screen and (max-width: 413px) and (min-width: 338px) {
    .antwerp-photo {
      left: -120%;
    }
  }
  @media only screen and (max-width: 413px) and (min-width: 373px) {
    .antwerp-photo {
      left: -100%;
    }
  }
  @media only screen and (max-width: 474px) and (min-width: 414px) {
    .antwerp-photo {
      left: -80%;
    }
  }
  @media only screen and (max-width: 539px) and (min-width: 475px) {
    .antwerp-photo {
      left: -60%;
    }
  }
  @media only screen and (max-width: 730px) and (min-width: 540px) {
    .antwerp-photo {
      left: -40%;
    }
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
