.about-container {
  margin: 65px 5% 0% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .img-follow {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .about-paragraph {
    flex: 2;
    display: flex;
    justify-content: center;
    img {
      max-width: 450px;
      min-width: 237px;
      height: auto;
      width: 100%;
    }
  }
  .paris-photo {
    flex: 1;
    border-radius: 10px;
    display: block;
    max-width: 350px;
    max-height: 500px;
    width: 100%;
    height: auto;
  }
  .instagram-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .instagram {
      width: 25px;
      height: 25px;
      object-fit: cover;
    }
  }
}
