.about-loader {
  display: flex;
  justify-content: center;
  margin-top: 8em;
}
.about-container {
  max-width: 144rem;
  margin: 6rem 2rem 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .img-follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;
    @media screen and (min-width: 1200px) {
      padding-right: 4rem;
    }
  }
  .about-paragraph {
    display: flex;
    justify-content: center;
    img {
      max-width: 30rem;
      height: auto;
      width: 100%;
    }
  }
  .paris-photo {
    border-radius: 10px;
    display: block;
    max-width: 25rem;
    width: 100%;
    height: auto;
  }
  .instagram-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .instagram {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }
}
