.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: lightgray;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  font-family: 'Epilogue', sans-serif;
  font-variant: all-small-caps;
}
.gallery-grid {
  margin-top: 60px;
  .gallery-images {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-flow: wrap;
    justify-content: center;
  }
  .img-carousel {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    .carousel {
      text-align: center;
      .slide {
        align-self: center;
        display: flex;
        align-items: center;
      }
      .control-dots {
        z-index: 1;
        margin: 0;
        bottom: 17%;
        .dot {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .photo-item {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    margin: 15px;
    transition: transform 500ms ease;
    width: 100%;
    height: auto;
    max-width: fit-content;
    justify-content: center;
    .photo-desc {
      width: 100%;
      height: auto;
      letter-spacing: 0.1rem;
      line-height: 1;
      color: black;
      font-size: 1.3rem;
      font-family: 'Epilogue', sans-serif;
      font-variant: all-small-caps;
      text-align: center;
    }
  }

  @media only screen and (max-width: 370px) {
    .gallery-type {
      align-content: center;
      width: 100%;
      flex-direction: column !important;
      line-height: 1.4;
      text-align: center;
    }
  }
  .gallery-type {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
    &--underlined {
      text-decoration-line: underline;
      font-weight: bolder;
    }
    span {
      font-size: 2rem;
      letter-spacing: 0.1rem;
      color: black;
      font-size: 1.3rem;
      font-family: 'Epilogue', sans-serif;
      justify-content: space-evenly;
      font-variant: all-small-caps;
      &:hover {
        font-weight: bolder;
        cursor: pointer;
        text-decoration-line: underline;
      }
    }
  }
  @media only screen and (max-width: 329px) {
    .control-dots {
      bottom: 30% !important;
    }
  }
  @media only screen and (max-width: 384px) and (min-width: 330px) {
    .control-dots {
      bottom: 28% !important;
    }
  }
  @media only screen and (max-width: 571px) and (min-width: 385px) {
    .control-dots {
      bottom: 24% !important;
    }
  }
  @media only screen and (max-width: 655px) and (min-width: 570px) {
    .control-dots {
      bottom: 20% !important;
    }
  }
}
