.scroll-btn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: #a9a9a9;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 4px;
  color: white;
  z-index: 99;
}
.image-gallery-description {
  letter-spacing: 0.1rem;
  line-height: 1;
  font-size: 1.3rem !important;
  font-variant: all-small-caps;
}
.gallery-grid {
  margin: 2rem 0rem 0rem 0rem;
  @media screen and (min-width: 767px) {
    margin: 2rem 4rem 0rem;
  }
  .gallery-images {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-flow: wrap;
    justify-content: center;
  }
  .img-carousel {
    margin: 15px;
  }
  .image-gallery-image {
    max-width: 700px;
  }
  .image-gallery-svg {
    height: 100px !important;
  }
  .photo-item {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    transition: transform 500ms ease;
    width: 100%;
    margin: 15px;
    height: auto;
    max-width: fit-content;
    justify-content: center;
  }
  .photo-desc {
    width: 100%;
    height: auto;
    letter-spacing: 0.1rem;
    line-height: 1;
    color: black;
    font-size: 1rem;
    @media screen and (min-width: 1200px) {
      font-size: 1.5rem;
    }

    font-variant: all-small-caps;
    text-align: center;
  }

  @media only screen and (max-width: 420px) {
    .gallery-type {
      align-content: center;
      width: 100%;
      flex-direction: column !important;
      line-height: 1.4;
      text-align: center;

      #blue:hover,
      &--background-blue {
        background: url(./stroke-blue-min.jpg) no-repeat;
        background-size: 60% 95% !important;
        background-position-x: center;
        padding: 3px 25px;
      }
      #yellow:hover,
      &--background-yellow {
        background: url(./stroke-yellow-min.jpg) no-repeat;
        background-size: 60% 95% !important;
        background-position-x: center;
        padding: 3px 25px;
      }
      #green:hover,
      &--background-green {
        background: url(./stroke-green-min.jpg) no-repeat;
        background-size: 60% 95% !important;
        background-position-x: center;
        padding: 3px 25px;
      }
      #pink:hover,
      &--background-pink {
        background: url(./stroke-pink-min.jpg) no-repeat;
        background-size: 60% 95% !important;
        background-position-x: center;
        padding: 3px 25px;
      }
    }
  }
  .gallery-type {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5rem 0 2rem 0;

    @media only screen and (min-width: 1200px) {
      margin: 8rem 0 2rem 0;
    }

    &--background-blue {
      background: url(./stroke-blue-min.jpg) no-repeat;
      background-size: 100% 95%;
      background-position-x: center;
      padding: 3px 25px;
    }
    &--background-yellow {
      background: url(./stroke-yellow-min.jpg) no-repeat;
      background-size: 100% 95%;
      background-position-x: center;
      padding: 3px 25px;
    }
    &--background-green {
      background: url(./stroke-green-min.jpg) no-repeat;
      background-size: 100% 95%;
      background-position-x: center;
      padding: 3px 25px;
    }
    &--background-pink {
      background: url(./stroke-pink-min.jpg) no-repeat;
      background-size: 100% 95%;
      background-position-x: center;
      padding: 3px 25px;
    }

    #blue {
      &:hover {
        cursor: pointer;
        background: url(./stroke-blue-min.jpg) no-repeat;
        background-size: 100% 95%;
        background-position-x: center;
        padding: 3px 25px;
      }
    }
    #yellow {
      &:hover {
        cursor: pointer;
        background: url(./stroke-yellow-min.jpg) no-repeat;
        background-size: 100% 95%;
        background-position-x: center;
        padding: 3px 25px;
      }
    }
    #green {
      &:hover {
        cursor: pointer;
        background: url(./stroke-green-min.jpg) no-repeat;
        background-size: 100% 95%;
        background-position-x: center;
        padding: 3px 25px;
      }
    }
    #pink {
      &:hover {
        cursor: pointer;
        background: url(./stroke-pink-min.jpg) no-repeat;
        background-size: 100% 95%;
        background-position-x: center;
        padding: 3px 25px;
      }
    }

    span {
      letter-spacing: 0.1rem;
      color: black;
      font-size: 1.2rem;
      @media screen and (min-width: 1200px) {
        font-size: 1.6rem;
      }

      justify-content: space-evenly;
      font-variant: all-small-caps;
    }
  }
}
