.nav-menu {
  align-self: center;
  cursor: pointer;
  z-index: 10;
  padding: 0;
  margin: 0;
  opacity: 1 !important;

  @media screen and (min-width: 767px) {
    .menu-icon--animated,
    .menu-icon,
    .close-icon {
      font-size: 40px;
    }
  }
  @media screen and (min-width: 1400px) {
    .menu-icon--animated,
    .menu-icon,
    .close-icon {
      font-size: 45px;
    }
  }
}
