@import url('https://fonts.googleapis.com/css2?family=Montserrat');
.menu--white {
  background: white;
}
.menu,
.menu--white {
  display: flex;
  flex-direction: column;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 5;
  padding: 0 !important;
  margin: 1rem 2rem 1rem 1rem;
  padding-left: 6px !important;
  padding-right: 6px !important;
  border-radius: 5px;

  div {
    padding: 0;
    transition: color 0.3s linear;
    a {
      letter-spacing: 0.1rem;
      color: black;
      text-decoration-line: none;
      font-size: 100%;
      font-family: 'Montserrat', regular;
      font-variant: all-small-caps;
      &:hover {
        font-weight: bolder;
        text-decoration-line: underline;
      }
    }
  }
}
