@import './Home/Home.scss';
@import './Header/Header.scss';
@import './NavMenu/NavMenu.scss';
@import './NavMenu/Menu/Menu.scss';
@import './Footer/Footer.scss';
@import './Gallery/Gallery.scss';
@import './About/About.scss';
@import './Contact/Contact.scss';
@import './LoadingSpinner/LoadingSpinner.scss';
@import '~react-image-gallery/styles/scss/image-gallery.scss';

.body {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 144rem;
  overflow-x: hidden;
  font-family: 'Jost', sans-serif;
  .container {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
  }
}
