@import './Home/Home.scss';
@import './Burger/Burger.scss';
@import './Burger/Menu/Menu.scss';
@import './Footer/Footer.scss';
@import './Gallery/Gallery.scss';
@import './About/About.scss';
@import './Contact/Contact.scss';
@import './LoadingSpinner/LoadingSpinner.scss';

.body {
  margin: 0;
  display: flex;
  width: 100%;
  .container {
    margin: 0;
    max-width: 100%;
  }
}
