.footer {
  position: absolute;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font: normal 400 10px 'Montserrat', regular;
  color: #231f20;
  z-index: 1;
}
