.footer,
.footer-home {
  text-shadow: 1px 0px white;
  position: absolute;
  padding-bottom: 10px;
  width: 100%;
  max-width: 144rem;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  font-variant: all-small-caps;
  font-size: 18px;
  @media screen and (min-width: 767px) {
    font-size: 1.5rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 2rem;
  }
  font-weight: bold;
  color: #231f20;
  z-index: 1;
}
.footer-home {
  margin-top: 80vh;
}
.footer {
  margin-top: 12vh;
}
